@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Shadows+Into+Light&display=swap');






body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #F5F5F5;
}
h1 {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    FONT-SIZE: 50px;
}
#info {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 36px;
}
#startgame {
    text-align: center;
}
h3 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}
main {
    display: flex;
    flex: 1;
    max-width: 650px;
    min-width: 530px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.container {
    display: none;
    grid-template-columns: repeat(3, auto);
    padding: 5px;
}


h4 {
    
    font-family: "Permanent Marker", cursive;
    position: absolute;
    margin: 0;
    padding-left: 14px;
    padding-right: 19px;
    font-size: 188px;
    line-height: 0.9;
    overflow: hidden;
       
}
h5{
    display: none;
}
a {
    text-decoration: none;
    color: hotpink;
    /* position: relative; */
}
h2{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}


.square {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 3px solid #87CEFA;
    cursor: pointer;
    line-height: 55px;
    font-size: 60px;
}

#restartgame {
    display: none;
}